{% extends 'base.html' %}
{% load static %}
{% block title %}Profile information{% endblock %}
{% block content %}
{% include 'info/breadcrumbs.html' %}
      <!-- form  -->
<section class="grid w-full max-w-[1200px] grid-cols-1 gap-3 px-5 pb-10">
  <div class="py-5">
    <div class="w-full">
      <h2>Avatar image</h2>
      <div class="mx-auto mb-5 flex flex-row items-center bg-neutral-100 py-5 lg:mx-0 lg:w-1/2">
        <img class="ml-5 h-20 w-20 rounded-full"
             src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'images/avatar-photo.png' %}{% endif %}"
             alt="User avatar" />

        <!-- This form will be handled in the main form -->
      </div>
    </div>

    <!-- Main profile form -->
    <form method="post" enctype="multipart/form-data" class="flex w-full flex-col gap-3">
      {% csrf_token %}
      
      <div class="flex w-full flex-col">
        <label class="flex" for="id_avatar">
          Avatar image
        </label>
        {{ form.avatar }}
      </div>

      <div class="flex w-full flex-col">
        <label class="flex" for="id_first_name">
          First Name<span class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['*']"></span>
        </label>
        {{ form.first_name }}
      </div>

      <div class="flex w-full flex-col">
        <label class="flex" for="id_last_name">
          Last Name<span class="block text-sm font-medium text-slate-700 after:ml-0.5 after:text-red-500 after:content-['*']"></span>
        </label>
        {{ form.last_name }}
      </div>

      <div class="flex flex-col">
        <label for="id_bio">Bio</label>
        {{ form.bio }}
      </div>

      <button type="submit" class="mt-4 w-40 bg-violet-900 px-4 py-2 text-white">
        Save changes
      </button>
    </form>
  </div>
</section>


{% endblock %}
