{% extends 'base.html' %}
{% load static %}
{% block title %}about us{% endblock %}

{% block content %}
        <!-- BG Image  -->

        <div class="relative">
          <img
            class="w-full object-cover brightness-50 filter lg:h-[500px]"
            src = "{% static 'images/about-us-bg.jpeg' %}"
            alt="Iphone with Macbook image"
          />

          <div
            class="absolute top-1/2 left-1/2 mx-auto flex w-11/12 max-w-[1200px] -translate-x-1/2 -translate-y-1/2 flex-col text-center text-white lg:ml-5"
          >
            <h1 class="text-4xl font-bold sm:text-5xl">Hakkımızda</h1>
            <p class="mx-auto pt-3 text-xs lg:w-3/5 lg:pt-5 lg:text-base">
              Metatakas, modern dünyada geleneksel takas sistemini dijital bir platforma taşıyan yenilikçi bir çözüm sunmaktadır. İnsanların ve işletmelerin ellerindeki kullanılmayan ürünleri, hizmetleri veya değerleri nakit kullanmadan takas etmesine olanak tanıyan bu sistem, ekonomik ve çevresel sürdürülebilirliği destekler.
            </p>
          </div>
        </div>

        <!-- /BG IMAGE  -->
      </div>

      <section class="flex-grow">
        <div class="mt-6 flex flex-col gap-3">
          <img
            class="mx-auto w-[300px]"
            src="{% static 'images/metatakas.png' %}"
            alt="Maybell Logo"
          />
          <p class="text-center text-sm">2024dan beri</p>
        </div>

        <div
          class="mx-auto my-10 flex max-w-[600px] flex-col items-center justify-center px-5"
        >
          <h2 class="w-full text-left text-xl font-bold">Meta Takas Hakkında</h2>
          <p class="py-3">
            Metatakas, modern dünyada geleneksel takas sistemini dijital bir platforma taşıyan yenilikçi bir çözüm sunmaktadır. İnsanların ve işletmelerin ellerindeki kullanılmayan ürünleri, hizmetleri veya değerleri nakit kullanmadan takas etmesine olanak tanıyan bu sistem, ekonomik ve çevresel sürdürülebilirliği destekler.

          </p>
          <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
            <img
              class="object-cover"
              src = "{% static 'images/mission-family.jpg' %}"
              alt="Family in living room"
            />
            <img
              class="object-cover"
              src = "{% static 'images/mission-interior.jpg' %}"
              alt="Interior"
            />
            <img
              class="object-cover"
              src = "{% static 'images/mission-materials.jpg' %}"
              alt="Materials"
            />
          </div>
          <p class="py-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            placeat odit, est eum dolorem esse totam iusto necessitatibus
            eligendi illo doloribus vero aperiam atque tempora repudiandae
            molestiae nemo distinctio quisquam!
          </p>

          <h2 class="mt-3 w-full text-left text-xl font-bold">Neden Metatakas?</h2>
          <p class="py-3">
            Tasarruf: Nakit kullanmadan ihtiyaçlarınızı karşılayarak bütçenizi koruyabilirsiniz.
            Çevre Dostu: Kullanılmayan ürünleri yeniden değerlendirerek israfı önler ve sürdürülebilirliği destekler.
            Kolay ve Güvenli Kullanım: Şeffaf ve güvenilir bir platform ile hızlı işlemler yapabilirsiniz.
            Çeşitlilik: Ürün, hizmet, bilgi veya dijital varlık gibi farklı kategorilerde takas yapma imkanı.
            Metatakas, yalnızca bir takas platformu değil, aynı zamanda paylaşım ekonomisinin bir parçası olarak toplulukları güçlendiren ve kaynakları daha verimli kullanmayı teşvik eden bir hareketin öncüsüdür. Geleceğin ticaret anlayışına adım atmak için Metatakas ile tanışın.
          </p>

          <h2 class="mt-3 w-full text-left text-xl font-bold">Our Values:</h2>
          <p class="py-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
            placeat odit, est eum dolorem esse totam iusto necessitatibus
            eligendi illo doloribus vero aperiam atque tempora repudiandae
            molestiae nemo distinctio quisquam!
          </p>
          <div class="grid grid-cols-1 gap-3 lg:grid-cols-3">
            <img
              class="object-cover"
              src = "{% static 'images/mission-family.jpg' %}"
              alt="Family in living room"
            />
            <img
              class="object-cover"
              src = "{% static 'images/mission-interior.jpg' %}"
              alt="Interior"
            />
            <img
              class="object-cover"
              src ="{% static 'images/mission-materials.jpg' %}"
              alt="Materials"
            />
          </div>
        </div>
      </section>

{% endblock %}