<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Marketplace{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- If you're using django-tailwind: -->
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet">

</head>

<body x-data="{ desktopMenuOpen: false, mobileMenuOpen: false }">


    {% include 'header.html' %}

     <main class="flex flex-col h-screen justify-between">
        {% block content %}
        <!-- Page content will go here -->
        {% endblock %}
    </main>

    {% include 'footer.html' %}

</body>
</html>