{% load static %}
<footer
class="mx-auto w-full max-w-[1200px] justify-between pb-10 flex flex-col lg:flex-row"
>
<div class="ml-5">
    <img
    class="h-10 w-auto object-contain mt-10 mb-5"
    src="{% static 'images/metatakaslogo.png' %}" 
    alt="company logo"
    />
    <p class="pl-0">
    Nakit yok! Takas var!
    </p>
    <div class="mt-10 flex gap-3">
    <a href="https://github.com/bbulakh">
        <img
        class="h-5 w-5 cursor-pointer"
        src="{% static 'images/github.svg' %}"
        alt="github icon"
        />
    </a>
    <a href="https://t.me/b_bulakh">
        <img
        class="h-5 w-5 cursor-pointer"
        src="{% static 'images/telegram.svg' %}"
        alt="telegram icon"
        />
    </a>
    <a href="https://www.linkedin.com/in/bogdan-bulakh-393284190/">
        <img
        class="h-5 w-5 cursor-pointer"
        src="{% static 'images/linkedin.svg' %}"
        alt="twitter icon"
        />
    </a>
    </div>
</div>

<div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    <div class="mx-5 mt-10">
    <p class="font-medium text-gray-500">TAKAS HAKKINDA</p>
    <ul class="text-sm leading-8">
        <li><a href="#">Takas Sistemi Nasıl Çalışır?</a></li>
        <li><a href="#">İlan Oluşturma Rehberi</a></li>
        <li><a href="#">Takas Kuralları</a></li>
        <li><a href="#">Ürün Değerleme İpuçları</a></li>
    </ul>
    </div>

    <div class="mx-5 mt-10">
    <p class="font-medium text-gray-500">DESTEK</p>
    <ul class="text-sm leading-8">
        <li><a href="#">Yardım Merkezi</a></li>
        <li><a href="#">İletişim</a></li>
        <li><a href="#">Sorun Bildir</a></li>
    </ul>
    </div>

    <div class="mx-5 mt-10">
    <p class="font-medium text-gray-500">YASAL</p>
    <ul class="text-sm leading-8">
        <li><a href="#">Kullanım Şartları</a></li>
        <li><a href="#">Gizlilik Politikası</a></li>
        <li><a href="#">Çerez Politikası</a></li>
        <li><a href="#">Topluluk Kuralları</a></li>
    </ul>
    </div>

    <div class="mx-5 mt-10">
    <p class="font-medium text-gray-500">HAKKIMIZDA</p>
    <ul class="text-sm leading-8">
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">Misyonumuz</a></li>
    </ul>
    </div>
</div>
</footer>
<!-- /Desktop Footer  -->

<!-- Payment and copyright  -->

<section class="h-11 bg-blue-400">
<div
    class="mx-auto flex max-w-[1200px] items-center justify-between px-4 pt-2"
>
    <p>&copy; Meta-Takas, 2025</p>
    <div class="flex items-center space-x-3">
    <img
        class="h-8"
        src="https://cdn-icons-png.flaticon.com/512/5968/5968299.png"
        alt="Visa icon"
    />
    <img
        class="h-8"
        src="https://cdn-icons-png.flaticon.com/512/349/349228.png"
        alt="AE icon"
    />
    <img
        class="h-8"
        src="https://cdn-icons-png.flaticon.com/512/5968/5968144.png"
        alt="Apple pay icon"
    />
    </div>
</div>
</section>