{% load static %}
{% load i18n %}
<footer
class="mx-auto w-full max-w-[1200px] justify-between pb-10 flex flex-col lg:flex-row"
>
<div class="ml-5">
    <img
    class="h-10 w-auto object-contain mt-10 mb-5"
    src="{% static 'images/metatakaslogo.png' %}" 
    alt="company logo"
    />
    <p class="pl-0">
    Nakit yok! Takas var!
    </p>
    <div class="mt-10 flex gap-3">
    <!-- <a href="https://github.com/bbulakh">
        <img
        class="h-5 w-5 cursor-pointer"
        src="{% static 'images/github.svg' %}"
        alt="github icon"
        />
    </a>
    <a href="https://t.me/b_bulakh">
        <img
        class="h-5 w-5 cursor-pointer"
        src="{% static 'images/telegram.svg' %}"
        alt="telegram icon"
        />
    </a>
    <a href="https://www.linkedin.com/in/bogdan-bulakh-393284190/">
        <img
        class="h-5 w-5 cursor-pointer"
        src="{% static 'images/linkedin.svg' %}"
        alt="twitter icon"
        />
    </a> -->
    </div>
</div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
    <!-- ABOUT TAKA -->
    <div class="mx-5 mt-10">
      <p class="font-medium text-gray-500">{% trans 'ABOUT TAKAS' %}</p>
      <ul class="text-sm leading-8">
        <li><a href="{% url 'howitworks' %}">{% trans 'How the Barter System Work?' %}</a></li>
        <li><a href="{% url 'create_listing' %}">{% trans 'Ad Creation Guide' %}</a></li>
        <li><a href="{% url 'exchange_rules' %}">{% trans 'Barter Rules' %}</a></li>
        <li><a href="{% url 'valuation' %}">{% trans 'Product Evaluation Tips' %}</a></li>
      </ul>
    </div>

    <!-- SUPPORT -->
    <div class="mx-5 mt-10">
      <p class="font-medium text-gray-500">{% trans 'SUPPORT' %}</p>
      <ul class="text-sm leading-8">
        <li><a href="{% url 'help_center' %}">{% trans 'Help Center' %}</a></li>
        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
      </ul>
    </div>

    <!-- LEGAL -->
    <div class="mx-5 mt-10">
      <p class="font-medium text-gray-500">{% trans 'LEGAL' %}</p>
      <ul class="text-sm leading-8">
        <li><a href="{% url 'terms_of_use' %}">{% trans 'Terms of Use' %}</a></li>
        <li><a href="{% url 'privacy_policy' %}">{% trans 'Privacy Policy' %}</a></li>
        <li><a href="{% url 'community_guidelines' %}">{% trans 'Community Guidelines' %}</a></li>
      </ul>
    </div>

    <!-- ABOUT US -->
    <div class="mx-5 mt-10">
      <p class="font-medium text-gray-500">{% trans 'ABOUT US' %}</p>
      <ul class="text-sm leading-8">
        <li><a href="{% url 'aboutus' %}">{% trans 'About Us' %}</a></li>
        <li><a href="{% url 'our_mission' %}">{% trans 'Our Mission' %}</a></li>
      </ul>
    </div>
  </div>
</footer>
<!-- /Desktop Footer  -->

<!-- Payment and copyright  -->

<section class="bg-blue-400 py-2">
  <div class="mx-auto max-w-[1200px] px-4 flex flex-col sm:flex-row items-center justify-between text-center sm:text-left">
    
    <p class="text-sm text-white leading-snug">
      &copy; 2025 <span class="font-semibold">Meta-Takas</span>, All rights reserved.
      <span class="block sm:inline font-semibold">Made by Arian Hadi & Selçuk</span>
    </p>

    <div class="mt-2 sm:mt-0 flex items-center space-x-2">
      <img
        class="h-6 w-8 object-contain rounded-md"
        src="{% static 'images/Flag_of_Turkey.png' %}"
        alt="Turkey Flag"
      />
    </div>

  </div>
</section>