{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}

<section class="mx-auto mt-10 w-full flex-grow mb-10 max-w-[1200px] px-5">
  <div class="container mx-auto border px-5 py-5 shadow-sm md:w-1/2">
    <h1 class="text-4xl font-bold mb-5">Forgot Password</h1>

    <form method="post">
    {% csrf_token %}
    <div class="mb-4">
        <label for="id_email" class="block mb-2">Enter your email address</label>
        <input type="email" name="email" id="id_email" class="w-full border px-4 py-2" required>
    </div>
    <button type="submit" class="mt-4 w-full bg-violet-900 py-2 text-white">
        Send Reset Link
    </button>
    </form>

  </div>
</section>

{% endblock %}
